# üìò –ü—Ä–æ–µ–∫—Ç: –ë–∞–∑–æ–≤—ã–π SQL

## üéØ –¶–µ–ª—å –ø—Ä–æ–µ–∫—Ç–∞

–û—Å–≤–æ–∏—Ç—å –Ω–∞–ø–∏—Å–∞–Ω–∏–µ SQL-–∑–∞–ø—Ä–æ—Å–æ–≤ –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö –∏–∑ —Ä–µ–ª—è—Ü–∏–æ–Ω–Ω—ã—Ö –±–∞–∑.  
–ù–∞ –ø—Ä–∞–∫—Ç–∏–∫–µ –≤—ã –Ω–∞—É—á–∏—Ç–µ—Å—å:

- –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å `SELECT`, `WHERE`, `ORDER BY`, `GROUP BY`, `HAVING`;
- –æ–±—ä–µ–¥–∏–Ω—è—Ç—å —Ç–∞–±–ª–∏—Ü—ã —Å –ø–æ–º–æ—â—å—é `JOIN`;
- —Ä–∞–±–æ—Ç–∞—Ç—å —Å –ø–æ–¥–∑–∞–ø—Ä–æ—Å–∞–º–∏;
- –ø—Ä–∏–º–µ–Ω—è—Ç—å –∞–≥—Ä–µ–≥–∞—Ç–Ω—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏ (`COUNT`, `SUM`, `AVG`, –∏ –¥—Ä.);


---

## üóÇÔ∏è –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

–í –ø—Ä–æ–µ–∫—Ç–µ –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –±–∞–∑–∞ –¥–∞–Ω–Ω—ã—Ö, —Å–æ–¥–µ—Ä–∂–∞—â–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ —Å—Ç–∞—Ä—Ç–∞–ø–∞—Ö, –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏—è—Ö –∏ –≤–µ–Ω—á—É—Ä–Ω—ã—Ö —Ñ–æ–Ω–¥–∞—Ö. –í—Å–µ–≥–æ –≤ –±–∞–∑–µ 7 —Ç–∞–±–ª–∏—Ü:

### üìÑ `company`
–°–≤–µ–¥–µ–Ω–∏—è –æ –∫–æ–º–ø–∞–Ω–∏—è—Ö-—Å—Ç–∞—Ä—Ç–∞–ø–∞—Ö:
- `id` ‚Äî —É–Ω–∏–∫–∞–ª—å–Ω—ã–π –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä;
- `name` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–º–ø–∞–Ω–∏–∏;
- `category_code` ‚Äî –∫–∞—Ç–µ–≥–æ—Ä–∏—è –¥–µ—è—Ç–µ–ª—å–Ω–æ—Å—Ç–∏ (–Ω–∞–ø—Ä–∏–º–µ—Ä, `social`, `news`);
- `status` ‚Äî —Å—Ç–∞—Ç—É—Å (`operating`, `acquired`, `closed`, `ipo`);
- `founded_at` / `closed_at` ‚Äî –¥–∞—Ç—ã –æ—Å–Ω–æ–≤–∞–Ω–∏—è –∏ –∑–∞–∫—Ä—ã—Ç–∏—è;
- `country_code` ‚Äî —Å—Ç—Ä–∞–Ω–∞ —Ä–µ–≥–∏—Å—Ç—Ä–∞—Ü–∏–∏;
- `funding_total` ‚Äî –æ–±—â–∞—è —Å—É–º–º–∞ –ø—Ä–∏–≤–ª–µ—á—ë–Ω–Ω—ã—Ö –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–π;
- `investment_rounds` / `funding_rounds` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ä–∞—É–Ω–¥–æ–≤, –≤ –∫–æ—Ç–æ—Ä—ã—Ö —É—á–∞—Å—Ç–≤–æ–≤–∞–ª–∞ –∫–æ–º–ø–∞–Ω–∏—è;
- –∏ –¥—Ä—É–≥–∏–µ –ø–æ–ª—è.

### üìÑ `fund`
–ò–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –≤–µ–Ω—á—É—Ä–Ω—ã—Ö —Ñ–æ–Ω–¥–∞—Ö:
- `id`, `name`, `founded_at`, `country_code`;
- `investment_rounds` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ä–∞—É–Ω–¥–æ–≤, –≤ –∫–æ—Ç–æ—Ä—ã—Ö —É—á–∞—Å—Ç–≤–æ–≤–∞–ª —Ñ–æ–Ω–¥;
- `invested_companies` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–∏–Ω–≤–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–Ω—ã—Ö –∫–æ–º–ø–∞–Ω–∏–π;
- `milestones` ‚Äî –∫–ª—é—á–µ–≤—ã–µ —Å–æ–±—ã—Ç–∏—è –≤ –∏—Å—Ç–æ—Ä–∏–∏ —Ñ–æ–Ω–¥–∞.

### üìÑ `funding_round`
–î–∞–Ω–Ω—ã–µ –æ —Ä–∞—É–Ω–¥–∞—Ö –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–π:
- `id`, `company_id`, `funded_at`;
- `funding_round_type` ‚Äî —Ç–∏–ø —Ä–∞—É–Ω–¥–∞ (`angel`, `venture`, `series_a`, –∏ —Ç.–¥.);
- `raised_amount` ‚Äî —Å—É–º–º–∞ –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–π;
- `pre_money_valuation` ‚Äî –æ—Ü–µ–Ω–∫–∞ —Å—Ç–æ–∏–º–æ—Å—Ç–∏ –∫–æ–º–ø–∞–Ω–∏–∏ –¥–æ –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–π;
- `participants`, `is_first_round`, `is_last_round`.

### üìÑ `investment`
–°–≤—è–∑—å –º–µ–∂–¥—É —Ñ–æ–Ω–¥–∞–º–∏ –∏ –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏—è–º–∏:
- `id`, `fund_id`, `company_id`, `funding_round_id`;
- –∫–∞–∂–¥—ã–π —Ä—è–¥ –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç, –∫–∞–∫–æ–π —Ñ–æ–Ω–¥ –∏–Ω–≤–µ—Å—Ç–∏—Ä–æ–≤–∞–ª –≤ –∫–∞–∫—É—é –∫–æ–º–ø–∞–Ω–∏—é –≤ –∫–∞–∫–æ–º —Ä–∞—É–Ω–¥–µ.

### üìÑ `acquisition`
–ò–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –ø–æ–≥–ª–æ—â–µ–Ω–∏—è—Ö:
- `id`, `acquiring_company_id`, `acquired_company_id`;
- `price_amount` ‚Äî —Å—É–º–º–∞ —Å–¥–µ–ª–∫–∏;
- `term_code` ‚Äî —Ñ–æ—Ä–º–∞ –æ–ø–ª–∞—Ç—ã (`cash`, `stock`, `cash_and_stock`);
- `acquired_at` ‚Äî –¥–∞—Ç–∞ —Å–¥–µ–ª–∫–∏.

### üìÑ `people`
–°–æ—Ç—Ä—É–¥–Ω–∏–∫–∏ —Å—Ç–∞—Ä—Ç–∞–ø–æ–≤:
- `id`, `first_name`, `last_name`, `company_id`.

### üìÑ `education`
–û–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤:
- `person_id`, `degree_type`, `instituition`, `graduated_at`.

## üìå –§–æ—Ä–º–∞—Ç —Ä–∞–±–æ—Ç—ã

–î–∞–ª–µ–µ –±—É–¥—É—Ç –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω—ã –∑–∞–¥–∞–Ω–∏—è –ø–æ SQL.  
–ö–∞–∂–¥–æ–µ –∑–∞–¥–∞–Ω–∏–µ –≤–∫–ª—é—á–∞–µ—Ç:

- –∫—Ä–∞—Ç–∫–æ–µ –æ–ø–∏—Å–∞–Ω–∏–µ –∑–∞–¥–∞—á–∏;
- –º–æ–π SQL-–∑–∞–ø—Ä–æ—Å ‚Äî —Ä–µ—à–µ–Ω–∏–µ –ø–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω–æ–π –∑–∞–¥–∞—á–∏.

#### 1. –û—Ç–æ–±—Ä–∞–∑–∏—Ç–µ –≤—Å–µ –∑–∞–ø–∏—Å–∏ –∏–∑ —Ç–∞–±–ª–∏—Ü—ã `company` –ø–æ –∫–æ–º–ø–∞–Ω–∏—è–º, –∫–æ—Ç–æ—Ä—ã–µ –∑–∞–∫—Ä—ã–ª–∏—Å—å

```sql
SELECT *
FROM company
WHERE status = 'closed';
```
---

#### 2. –û—Ç–æ–±—Ä–∞–∑–∏—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–∏–≤–ª–µ—á—ë–Ω–Ω—ã—Ö —Å—Ä–µ–¥—Å—Ç–≤ –¥–ª—è –Ω–æ–≤–æ—Å—Ç–Ω—ã—Ö –∫–æ–º–ø–∞–Ω–∏–π –°–®–ê. 
–ò—Å–ø–æ–ª—å–∑—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ç–∞–±–ª–∏—Ü—ã `company`. –û—Ç—Å–æ—Ä—Ç–∏—Ä—É–π—Ç–µ —Ç–∞–±–ª–∏—Ü—É –ø–æ —É–±—ã–≤–∞–Ω–∏—é –∑–Ω–∞—á–µ–Ω–∏–π –≤ –ø–æ–ª–µ `funding_total`.

```sql
SELECT funding_total
FROM company
WHERE category_code = 'news' AND country_code = 'USA'
ORDER BY funding_total DESC;
```
---

#### 3. –ù–∞–π–¥–∏—Ç–µ –æ–±—â—É—é —Å—É–º–º—É —Å–¥–µ–ª–æ–∫ –ø–æ –ø–æ–∫—É–ø–∫–µ –æ–¥–Ω–∏—Ö –∫–æ–º–ø–∞–Ω–∏–π –¥—Ä—É–≥–∏–º–∏ –≤ –¥–æ–ª–ª–∞—Ä–∞—Ö. 
–û—Ç–±–µ—Ä–∏—Ç–µ —Å–¥–µ–ª–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ –æ—Å—É—â–µ—Å—Ç–≤–ª—è–ª–∏—Å—å —Ç–æ–ª—å–∫–æ –∑–∞ –Ω–∞–ª–∏—á–Ω—ã–µ —Å 2011 –ø–æ 2013 –≥–æ–¥ –≤–∫–ª—é—á–∏—Ç–µ–ª—å–Ω–æ.

```sql
SELECT SUM(price_amount) AS total_deals_in_cash
FROM acquisition
WHERE term_code = 'cash' 
  AND acquired_at BETWEEN '2011-01-01' AND '2013-12-31';
```
---
#### 4. –û—Ç–æ–±—Ä–∞–∑–∏—Ç–µ –∏–º—è, —Ñ–∞–º–∏–ª–∏—é –∏ –Ω–∞–∑–≤–∞–Ω–∏—è –∞–∫–∫–∞—É–Ω—Ç–æ–≤ –ª—é–¥–µ–π –≤ –ø–æ–ª–µ `network_username`, —É –∫–æ—Ç–æ—Ä—ã—Ö –Ω–∞–∑–≤–∞–Ω–∏—è –∞–∫–∫–∞—É–Ω—Ç–æ–≤ –Ω–∞—á–∏–Ω–∞—é—Ç—Å—è –Ω–∞ 'Silver'.

```sql
SELECT first_name, last_name, network_username
FROM people
WHERE network_username LIKE 'Silver%';
```

---


#### 5. –í—ã–≤–µ–¥–∏—Ç–µ –Ω–∞ —ç–∫—Ä–∞–Ω –≤—Å—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –ª—é–¥—è—Ö, —É –∫–æ—Ç–æ—Ä—ã—Ö –Ω–∞–∑–≤–∞–Ω–∏—è –∞–∫–∫–∞—É–Ω—Ç–æ–≤ –≤ –ø–æ–ª–µ `network_username` —Å–æ–¥–µ—Ä–∂–∞—Ç –ø–æ–¥—Å—Ç—Ä–æ–∫—É 'money', –∞ —Ñ–∞–º–∏–ª–∏—è –Ω–∞—á–∏–Ω–∞–µ—Ç—Å—è –Ω–∞ 'K'.

```sql
SELECT *
FROM people
WHERE network_username LIKE '%money%' 
  AND last_name LIKE 'K%';
```
---
#### 6. –û–±—â–∞—è —Å—É–º–º–∞ –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–π –ø–æ —Å—Ç—Ä–∞–Ω–∞–º 
–î–ª—è –∫–∞–∂–¥–æ–π —Å—Ç—Ä–∞–Ω—ã –æ—Ç–æ–±—Ä–∞–∑–∏—Ç–µ –æ–±—â—É—é —Å—É–º–º—É –ø—Ä–∏–≤–ª–µ—á—ë–Ω–Ω—ã—Ö –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ–ª—É—á–∏–ª–∏ –∫–æ–º–ø–∞–Ω–∏–∏, –∑–∞—Ä–µ–≥–∏—Å—Ç—Ä–∏—Ä–æ–≤–∞–Ω–Ω—ã–µ –≤ —ç—Ç–æ–π —Å—Ç—Ä–∞–Ω–µ.  
–°—Ç—Ä–∞–Ω—É, –≤ –∫–æ—Ç–æ—Ä–æ–π –∑–∞—Ä–µ–≥–∏—Å—Ç—Ä–∏—Ä–æ–≤–∞–Ω–∞ –∫–æ–º–ø–∞–Ω–∏—è, –º–æ–∂–Ω–æ –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å –ø–æ –∫–æ–¥—É —Å—Ç—Ä–∞–Ω—ã. 
–û—Ç—Å–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –ø–æ —É–±—ã–≤–∞–Ω–∏—é —Å—É–º–º—ã.

```sql
SELECT c.country_code, SUM(c.funding_total) AS total_investments
FROM company c
GROUP BY c.country_code
ORDER BY total_investments DESC;
```

---

#### 7. –ú–∏–Ω–∏–º–∞–ª—å–Ω—ã–µ –∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–µ –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–∏ –ø–æ –¥–∞—Ç–∞–º  
–°–æ—Å—Ç–∞–≤—å—Ç–µ —Ç–∞–±–ª–∏—Ü—É, –≤ –∫–æ—Ç–æ—Ä—É—é –≤–æ–π–¥—ë—Ç –¥–∞—Ç–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏—è —Ä–∞—É–Ω–¥–∞, –∞ —Ç–∞–∫–∂–µ –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–µ –∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—É–º–º—ã –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–π, –ø—Ä–∏–≤–ª–µ—á—ë–Ω–Ω—ã—Ö –≤ —ç—Ç—É –¥–∞—Ç—É.  
–û—Å—Ç–∞–≤—å—Ç–µ –≤ –∏—Ç–æ–≥–æ–≤–æ–π —Ç–∞–±–ª–∏—Ü–µ —Ç–æ–ª—å–∫–æ —Ç–µ –∑–∞–ø–∏—Å–∏, –≤ –∫–æ—Ç–æ—Ä—ã—Ö –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ —Å—É–º–º—ã –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–π –Ω–µ —Ä–∞–≤–Ω–æ –Ω—É–ª—é –∏ –Ω–µ —Ä–∞–≤–Ω–æ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–º—É –∑–Ω–∞—á–µ–Ω–∏—é.

```sql
SELECT 
    f.funded_at AS funding_date,
    MIN(f.raised_amount) AS min_investment,
    MAX(f.raised_amount) AS max_investment
FROM funding_round f
GROUP BY f.funded_at
HAVING MIN(f.raised_amount) != 0 
   AND MIN(f.raised_amount) != MAX(f.raised_amount)
ORDER BY funding_date;
```

---

#### 8. –ö–∞—Ç–µ–≥–æ—Ä–∏–∏ –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç–∏ —Ñ–æ–Ω–¥–æ–≤  

–°–æ–∑–¥–∞–π—Ç–µ –ø–æ–ª–µ —Å –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º–∏:  
- –§–æ–Ω–¥—ã, –∏–Ω–≤–µ—Å—Ç–∏—Ä—É—é—â–∏–µ –≤ 100 –∏ –±–æ–ª–µ–µ –∫–æ–º–ø–∞–Ω–∏–π ‚Äî `high_activity`  
- –û—Ç 20 –¥–æ 99 –∫–æ–º–ø–∞–Ω–∏–π ‚Äî `middle_activity`  
- –ú–µ–Ω–µ–µ 20 –∫–æ–º–ø–∞–Ω–∏–π ‚Äî `low_activity`  

–û—Ç–æ–±—Ä–∞–∑–∏—Ç–µ –≤—Å–µ –ø–æ–ª—è —Ç–∞–±–ª–∏—Ü—ã `fund` –∏ –Ω–æ–≤–æ–µ –ø–æ–ª–µ —Å –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º–∏.

```sql
SELECT 
    f.*, 
    CASE 
        WHEN f.invested_companies >= 100 THEN 'high_activity'
        WHEN f.invested_companies >= 20 AND f.invested_companies < 100 THEN 'middle_activity'
        ELSE 'low_activity'
    END AS activity_category
FROM fund f;
```
---

#### 9. –°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–æ–Ω–Ω—ã—Ö —Ä–∞—É–Ω–¥–æ–≤ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç–∏  

–î–ª—è –∫–∞–∂–¥–æ–π –∏–∑ –∫–∞—Ç–µ–≥–æ—Ä–∏–π, –Ω–∞–∑–Ω–∞—á–µ–Ω–Ω—ã—Ö –≤ –ø—Ä–µ–¥—ã–¥—É—â–µ–º –∑–∞–¥–∞–Ω–∏–∏, –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –æ–∫—Ä—É–≥–ª—ë–Ω–Ω–æ–µ –¥–æ –±–ª–∏–∂–∞–π—à–µ–≥–æ —Ü–µ–ª–æ–≥–æ —á–∏—Å–ª–æ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–æ–Ω–Ω—ã—Ö —Ä–∞—É–Ω–¥–æ–≤, –≤ –∫–æ—Ç–æ—Ä—ã—Ö —Ñ–æ–Ω–¥ –ø—Ä–∏–Ω–∏–º–∞–ª —É—á–∞—Å—Ç–∏–µ.  
–û—Ç—Å–æ—Ä—Ç–∏—Ä—É–π—Ç–µ —Ç–∞–±–ª–∏—Ü—É –ø–æ –≤–æ–∑—Ä–∞—Å—Ç–∞–Ω–∏—é —Å—Ä–µ–¥–Ω–µ–≥–æ.

```sql
SELECT 
    CASE
        WHEN invested_companies >= 100 THEN 'high_activity'
        WHEN invested_companies >= 20 THEN 'middle_activity'
        ELSE 'low_activity'
    END AS activity,
    ROUND(AVG(investment_rounds), 0) AS avg_investment_rounds
FROM fund
GROUP BY activity
ORDER BY avg_investment_rounds;
```

---

#### 10. –¢–æ–ø-10 —Å—Ç—Ä–∞–Ω –ø–æ –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–æ–Ω–Ω–æ–π –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç–∏ —Ñ–æ–Ω–¥–æ–≤ (2010‚Äì2012)  

–î–ª—è –∫–∞–∂–¥–æ–π —Å—Ç—Ä–∞–Ω—ã –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–µ, –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∏ —Å—Ä–µ–¥–Ω–µ–µ —á–∏—Å–ª–æ –∫–æ–º–ø–∞–Ω–∏–π, –≤ –∫–æ—Ç–æ—Ä—ã–µ –∏–Ω–≤–µ—Å—Ç–∏—Ä–æ–≤–∞–ª–∏ —Ñ–æ–Ω–¥—ã, –æ—Å–Ω–æ–≤–∞–Ω–Ω—ã–µ —Å 2010 –ø–æ 2012 –≥–æ–¥ –≤–∫–ª—é—á–∏—Ç–µ–ª—å–Ω–æ.  
–ò—Å–∫–ª—é—á–∏—Ç–µ —Å—Ç—Ä–∞–Ω—ã, –≤ –∫–æ—Ç–æ—Ä—ã—Ö –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ —Ä–∞–≤–Ω–æ –Ω—É–ª—é.  
–í—ã–≤–µ–¥–∏—Ç–µ —Ç–æ–ø-10 —Å—Ç—Ä–∞–Ω, –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞–Ω–Ω—ã—Ö –ø–æ —Å—Ä–µ–¥–Ω–µ–º—É –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –∫–æ–º–ø–∞–Ω–∏–π (–ø–æ —É–±—ã–≤–∞–Ω–∏—é) –∏ –ø–æ –∫–æ–¥—É —Å—Ç—Ä–∞–Ω—ã (–ø–æ –∞–ª—Ñ–∞–≤–∏—Ç—É).

```sql
SELECT country_code, 
       MIN(invested_companies), 
       MAX(invested_companies), 
       AVG(invested_companies)
FROM fund
WHERE EXTRACT(YEAR FROM founded_at) BETWEEN 2010 AND 2012
GROUP BY country_code
HAVING MIN(invested_companies) > 0
ORDER BY AVG(invested_companies) DESC, 
         country_code
LIMIT 10;
```

---

#### 11. –°–æ—Ç—Ä—É–¥–Ω–∏–∫–∏ —Å—Ç–∞—Ä—Ç–∞–ø–æ–≤ –∏ –∏—Ö –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ  

–û—Ç–æ–±—Ä–∞–∑–∏—Ç–µ –∏–º—è –∏ —Ñ–∞–º–∏–ª–∏—é –≤—Å–µ—Ö —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤ —Å—Ç–∞—Ä—Ç–∞–ø–æ–≤.  
–î–æ–±–∞–≤—å—Ç–µ –ø–æ–ª–µ —Å –Ω–∞–∑–≤–∞–Ω–∏–µ–º —É—á–µ–±–Ω–æ–≥–æ –∑–∞–≤–µ–¥–µ–Ω–∏—è, –∫–æ—Ç–æ—Ä–æ–µ –æ–∫–æ–Ω—á–∏–ª —Å–æ—Ç—Ä—É–¥–Ω–∏–∫, –µ—Å–ª–∏ —ç—Ç–∞ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –∏–∑–≤–µ—Å—Ç–Ω–∞.

```sql
SELECT p.first_name, p.last_name, e.instituition
FROM people AS p
LEFT OUTER JOIN education AS e ON p.id = e.person_id;
```

---

#### 12. –¢–û–ü-5 –∫–æ–º–ø–∞–Ω–∏–π –ø–æ —á–∏—Å–ª—É —É—á–µ–±–Ω—ã—Ö –∑–∞–≤–µ–¥–µ–Ω–∏–π —É —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤  

–î–ª—è –∫–∞–∂–¥–æ–π –∫–æ–º–ø–∞–Ω–∏–∏ –Ω–∞–π–¥–∏—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö —É—á–µ–±–Ω—ã—Ö –∑–∞–≤–µ–¥–µ–Ω–∏–π, –∫–æ—Ç–æ—Ä—ã–µ –æ–∫–æ–Ω—á–∏–ª–∏ –µ—ë —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–∏.  
–í—ã–≤–µ–¥–∏—Ç–µ –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–º–ø–∞–Ω–∏–∏ –∏ —á–∏—Å–ª–æ —É–Ω–∏–≤–µ—Ä—Å–∏—Ç–µ—Ç–æ–≤.  
–°–æ—Å—Ç–∞–≤—å—Ç–µ —Ç–æ–ø-5 –∫–æ–º–ø–∞–Ω–∏–π –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —É—á–µ–±–Ω—ã—Ö –∑–∞–≤–µ–¥–µ–Ω–∏–π.

```sql
WITH pe AS (
    SELECT p.company_id, e.instituition
    FROM people AS p
    JOIN education AS e ON e.person_id = p.id
)

SELECT c.name, 
       COUNT(DISTINCT pe.instituition)
FROM company AS c
JOIN pe ON c.id = pe.company_id
GROUP BY c.name
ORDER BY COUNT(DISTINCT pe.instituition) DESC
LIMIT 5;
```
---


#### 13. –°–æ—Å—Ç–∞–≤—å—Ç–µ —Å–ø–∏—Å–æ–∫ —Å —É–Ω–∏–∫–∞–ª—å–Ω—ã–º–∏ –Ω–∞–∑–≤–∞–Ω–∏—è–º–∏ –∑–∞–∫—Ä—ã—Ç—ã—Ö –∫–æ–º–ø–∞–Ω–∏–π, –¥–ª—è –∫–æ—Ç–æ—Ä—ã—Ö –ø–µ—Ä–≤—ã–π —Ä–∞—É–Ω–¥ —Ñ–∏–Ω–∞–Ω—Å–∏—Ä–æ–≤–∞–Ω–∏—è –æ–∫–∞–∑–∞–ª—Å—è –ø–æ—Å–ª–µ–¥–Ω–∏–º.

```sql
SELECT DISTINCT c.name
FROM company AS c
JOIN funding_round AS fr ON c.id = fr.company_id
WHERE c.status = 'closed'
  AND fr.is_first_round = 1
  AND fr.is_last_round = 1;
```
---

#### 14. –°–æ—Å—Ç–∞–≤—å—Ç–µ —Å–ø–∏—Å–æ–∫ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –Ω–æ–º–µ—Ä–æ–≤ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ —Ä–∞–±–æ—Ç–∞—é—Ç –≤ –∫–æ–º–ø–∞–Ω–∏—è—Ö, –æ—Ç–æ–±—Ä–∞–Ω–Ω—ã—Ö –≤ –ø—Ä–µ–¥—ã–¥—É—â–µ–º –∑–∞–¥–∞–Ω–∏–∏.

```sql
WITH closed_companies AS (
    SELECT c.id
    FROM company AS c
    JOIN funding_round AS fr ON c.id = fr.company_id
    WHERE c.status = 'closed'
      AND fr.is_first_round = 1
      AND fr.is_last_round = 1
)
SELECT DISTINCT p.id AS employee_id
FROM people AS p
JOIN closed_companies AS cc ON p.company_id = cc.id;
```
---


#### 15. –°–æ—Å—Ç–∞–≤—å—Ç–µ —Ç–∞–±–ª–∏—Ü—É, –∫—É–¥–∞ –≤–æ–π–¥—É—Ç —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –ø–∞—Ä—ã —Å –Ω–æ–º–µ—Ä–∞–º–∏ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤ –∏–∑ –ø—Ä–µ–¥—ã–¥—É—â–µ–π –∑–∞–¥–∞—á–∏ –∏ —É—á–µ–±–Ω—ã–º –∑–∞–≤–µ–¥–µ–Ω–∏–µ–º, –∫–æ—Ç–æ—Ä–æ–µ –æ–∫–æ–Ω—á–∏–ª —Å–æ—Ç—Ä—É–¥–Ω–∏–∫.


```sql
WITH closed_companies AS (
    SELECT c.id
    FROM company AS c
    JOIN funding_round AS fr ON c.id = fr.company_id
    WHERE c.status = 'closed'
      AND fr.is_first_round = 1
      AND fr.is_last_round = 1
)
SELECT DISTINCT p.id AS employee_id, e.instituition
FROM people AS p
JOIN closed_companies AS cc ON p.company_id = cc.id
JOIN education AS e ON p.id = e.person_id;
```
---

#### 16. –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É—á–µ–±–Ω—ã—Ö –∑–∞–≤–µ–¥–µ–Ω–∏–π –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–∞ –∏–∑ –ø—Ä–µ–¥—ã–¥—É—â–µ–≥–æ –∑–∞–¥–∞–Ω–∏—è. 

–ü—Ä–∏ –ø–æ–¥—Å—á—ë—Ç–µ —É—á–∏—Ç—ã–≤–∞–π—Ç–µ, —á—Ç–æ –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–∏ –º–æ–≥–ª–∏ –æ–∫–æ–Ω—á–∏—Ç—å –æ–¥–Ω–æ –∏ —Ç–æ –∂–µ –∑–∞–≤–µ–¥–µ–Ω–∏–µ –¥–≤–∞–∂–¥—ã.

```sql
WITH 
fr AS (SELECT company_id
       FROM   funding_round
       WHERE  is_first_round = 1
       AND    is_last_round = 1), 

p AS (SELECT DISTINCT p.id
      FROM   people AS p
      WHERE  p.company_id IN (SELECT DISTINCT c.id
                              FROM   company AS c
                              JOIN   fr ON fr.company_id = c.id
                              WHERE  c.status = 'closed')) 

SELECT p.id,
       COUNT(e.instituition) 
FROM   education AS e
JOIN   p ON p.id = e.person_id
GROUP BY p.id;
```
---

####  17. –î–æ–ø–æ–ª–Ω–∏—Ç–µ –ø—Ä–µ–¥—ã–¥—É—â–∏–π –∑–∞–ø—Ä–æ—Å –∏ –≤—ã–≤–µ–¥–∏—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ —á–∏—Å–ª–æ —É—á–µ–±–Ω—ã—Ö –∑–∞–≤–µ–¥–µ–Ω–∏–π (–≤—Å–µ—Ö, –Ω–µ —Ç–æ–ª—å–∫–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö), –∫–æ—Ç–æ—Ä—ã–µ –æ–∫–æ–Ω—á–∏–ª–∏ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–∏ —Ä–∞–∑–Ω—ã—Ö –∫–æ–º–ø–∞–Ω–∏–π. 

–ù—É–∂–Ω–æ –≤—ã–≤–µ—Å—Ç–∏ —Ç–æ–ª—å–∫–æ –æ–¥–Ω—É –∑–∞–ø–∏—Å—å, –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –∑–¥–µ—Å—å –Ω–µ –ø–æ–Ω–∞–¥–æ–±–∏—Ç—Å—è.


```sql
WITH 
fr AS (SELECT company_id
       FROM   funding_round
       WHERE  is_first_round = 1
       AND    is_last_round = 1), 

p AS (SELECT DISTINCT p.id
      FROM   people AS p
      WHERE  p.company_id IN (SELECT DISTINCT c.id
                              FROM   company AS c
                              JOIN   fr ON fr.company_id = c.id
                              WHERE  c.status = 'closed')), 

pe AS (SELECT p.id,
              COUNT(e.instituition)
       FROM   education AS e
       JOIN   p ON p.id = e.person_id
       GROUP BY p.id) 

SELECT AVG(pe.count)
FROM   pe;
```
---

####  18. –ù–∞–ø–∏—à–∏—Ç–µ –ø–æ—Ö–æ–∂–∏–π –∑–∞–ø—Ä–æ—Å: –≤—ã–≤–µ–¥–∏—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ —á–∏—Å–ª–æ —É—á–µ–±–Ω—ã—Ö –∑–∞–≤–µ–¥–µ–Ω–∏–π (–≤—Å–µ—Ö, –Ω–µ —Ç–æ–ª—å–∫–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö), –∫–æ—Ç–æ—Ä—ã–µ –æ–∫–æ–Ω—á–∏–ª–∏ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–∏ Socialnet.

```sql
WITH 
fr AS (SELECT company_id
       FROM   funding_round), 

p AS (SELECT DISTINCT p.id
      FROM   people AS p
      WHERE  p.company_id IN (SELECT DISTINCT c.id
                              FROM   company AS c
                              JOIN   fr ON fr.company_id = c.id
                              WHERE  c.name LIKE '%Socialnet%')), 

pe AS (SELECT p.id,
              COUNT(e.instituition)
       FROM   education AS e
       JOIN   p ON p.id = e.person_id
       GROUP BY p.id) 

SELECT AVG(pe.count)
FROM   pe;
```
---

#### 19. –°–æ—Å—Ç–∞–≤—å—Ç–µ —Ç–∞–±–ª–∏—Ü—É –∏–∑ –ø–æ–ª–µ–π:

- `name_of_fund` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ —Ñ–æ–Ω–¥–∞;
- `name_of_company` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–º–ø–∞–Ω–∏–∏;
- `amount` ‚Äî —Å—É–º–º–∞ –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–π, –∫–æ—Ç–æ—Ä—É—é –ø—Ä–∏–≤–ª–µ–∫–ª–∞ –∫–æ–º–ø–∞–Ω–∏—è –≤ —Ä–∞—É–Ω–¥–µ.

–í —Ç–∞–±–ª–∏—Ü—É –≤–æ–π–¥—É—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–æ–º–ø–∞–Ω–∏—è—Ö, –≤ –∏—Å—Ç–æ—Ä–∏–∏ –∫–æ—Ç–æ—Ä—ã—Ö –±—ã–ª–æ –±–æ–ª—å—à–µ —à–µ—Å—Ç–∏ –≤–∞–∂–Ω—ã—Ö —ç—Ç–∞–ø–æ–≤, –∞ —Ä–∞—É–Ω–¥—ã —Ñ–∏–Ω–∞–Ω—Å–∏—Ä–æ–≤–∞–Ω–∏—è –ø—Ä–æ—Ö–æ–¥–∏–ª–∏ —Å 2012 –ø–æ 2013 –≥–æ–¥ –≤–∫–ª—é—á–∏—Ç–µ–ª—å–Ω–æ.

```sql
WITH
fr AS (SELECT *
       FROM   funding_round AS fr
       WHERE  funded_at BETWEEN '2012-01-01' AND '2013-12-31'), 

c AS (SELECT *
      FROM   company
      WHERE  milestones > 6)

SELECT f.name AS name_of_fund, 
       c.name AS name_of_company, 
       fr.raised_amount AS amount 
FROM   investment AS i
JOIN   c ON c.id = i.company_id
JOIN   fund AS f ON f.id = i.fund_id
JOIN   fr ON fr.id = i.funding_round_id;
```
---

#### 20. –í—ã–≥—Ä—É–∑–∏—Ç–µ —Ç–∞–±–ª–∏—Ü—É, –≤ –∫–æ—Ç–æ—Ä–æ–π –±—É–¥—É—Ç —Ç–∞–∫–∏–µ –ø–æ–ª—è:

- –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–º–ø–∞–Ω–∏–∏-–ø–æ–∫—É–ø–∞—Ç–µ–ª—è;
- —Å—É–º–º–∞ —Å–¥–µ–ª–∫–∏;
- –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–º–ø–∞–Ω–∏–∏, –∫–æ—Ç–æ—Ä—É—é –∫—É–ø–∏–ª–∏;
- —Å—É–º–º–∞ –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–π, –≤–ª–æ–∂–µ–Ω–Ω—ã—Ö –≤ –∫—É–ø–ª–µ–Ω–Ω—É—é –∫–æ–º–ø–∞–Ω–∏—é;
- –¥–æ–ª—è, –∫–æ—Ç–æ—Ä–∞—è –æ—Ç–æ–±—Ä–∞–∂–∞–µ—Ç, –≤–æ —Å–∫–æ–ª—å–∫–æ —Ä–∞–∑ —Å—É–º–º–∞ –ø–æ–∫—É–ø–∫–∏ –ø—Ä–µ–≤—ã—Å–∏–ª–∞ —Å—É–º–º—É –≤–ª–æ–∂–µ–Ω–Ω—ã—Ö –≤ –∫–æ–º–ø–∞–Ω–∏—é –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–π, –æ–∫—Ä—É–≥–ª—ë–Ω–Ω–∞—è –¥–æ –±–ª–∏–∂–∞–π—à–µ–≥–æ —Ü–µ–ª–æ–≥–æ —á–∏—Å–ª–∞.

–ù–µ —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–µ —Å–¥–µ–ª–∫–∏, –≤ –∫–æ—Ç–æ—Ä—ã—Ö —Å—É–º–º–∞ –ø–æ–∫—É–ø–∫–∏ —Ä–∞–≤–Ω–∞ –Ω—É–ª—é. 
–ï—Å–ª–∏ —Å—É–º–º–∞ –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–π –≤ –∫–æ–º–ø–∞–Ω–∏—é —Ä–∞–≤–Ω–∞ –Ω—É–ª—é, –∏—Å–∫–ª—é—á–∏—Ç–µ —Ç–∞–∫—É—é –∫–æ–º–ø–∞–Ω–∏—é –∏–∑ —Ç–∞–±–ª–∏—Ü—ã. 
–û—Ç—Å–æ—Ä—Ç–∏—Ä—É–π—Ç–µ —Ç–∞–±–ª–∏—Ü—É –ø–æ —Å—É–º–º–µ —Å–¥–µ–ª–∫–∏ –æ—Ç –±–æ–ª—å—à–µ–π –∫ –º–µ–Ω—å—à–µ–π, –∞ –∑–∞—Ç–µ–º –ø–æ –Ω–∞–∑–≤–∞–Ω–∏—é –∫—É–ø–ª–µ–Ω–Ω–æ–π –∫–æ–º–ø–∞–Ω–∏–∏ –≤ –ª–µ–∫—Å–∏–∫–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–æ–º –ø–æ—Ä—è–¥–∫–µ. 
–û–≥—Ä–∞–Ω–∏—á—å—Ç–µ —Ç–∞–±–ª–∏—Ü—É –ø–µ—Ä–≤—ã–º–∏ –¥–µ—Å—è—Ç—å—é –∑–∞–ø–∏—Å—è–º–∏.

```sql
WITH 
c2 AS (SELECT *
       FROM company
       WHERE funding_total > 0
)

SELECT c1.name AS acquiring_company_name, 
       a.price_amount, 
       c2.name AS acquired_company_name, 
       c2.funding_total, 
       ROUND(A.PRICE_AMOUNT / c2.funding_total)
FROM   acquisition AS a
LEFT JOIN company AS c1 ON c1.id = a.acquiring_company_id 
LEFT JOIN company AS c2 ON c2.id = a.acquired_company_id  
WHERE  a.price_amount > 0
AND    c2.funding_total > 0
ORDER BY  a.price_amount DESC, 
          c2.name 
LIMIT     10;
JOIN   fr ON fr.id = i.funding_round_id;
```
---

#### 21. –í—ã–≥—Ä—É–∑–∏—Ç–µ —Ç–∞–±–ª–∏—Ü—É, –≤ –∫–æ—Ç–æ—Ä—É—é –≤–æ–π–¥—É—Ç –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–º–ø–∞–Ω–∏–π –∏–∑ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ social, –ø–æ–ª—É—á–∏–≤—à–∏–µ —Ñ–∏–Ω–∞–Ω—Å–∏—Ä–æ–≤–∞–Ω–∏–µ —Å 2010 –ø–æ 2013 –≥–æ–¥ –≤–∫–ª—é—á–∏—Ç–µ–ª—å–Ω–æ. 

–ü—Ä–æ–≤–µ—Ä—å—Ç–µ, —á—Ç–æ —Å—É–º–º–∞ –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–π –Ω–µ —Ä–∞–≤–Ω–∞ –Ω—É–ª—é. 
–í—ã–≤–µ–¥–∏—Ç–µ —Ç–∞–∫–∂–µ –Ω–æ–º–µ—Ä –º–µ—Å—è—Ü–∞, –≤ –∫–æ—Ç–æ—Ä–æ–º –ø—Ä–æ—Ö–æ–¥–∏–ª —Ä–∞—É–Ω–¥ —Ñ–∏–Ω–∞–Ω—Å–∏—Ä–æ–≤–∞–Ω–∏—è.

```sql
WITH
fr AS (SELECT company_id, 
              EXTRACT(MONTH FROM funded_at) AS funded_month
       FROM   funding_round
       WHERE  funded_at BETWEEN '2010-01-01' AND '2013-12-31'
       AND    raised_amount > 0), 

c AS (SELECT id, 
             name
      FROM   company
      WHERE  category_code = 'social') 

SELECT c.name, 
       fr.funded_month
FROM   c 
JOIN   fr ON fr.company_id = c.id
```
---

#### 22. –û—Ç–±–µ—Ä–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –ø–æ –º–µ—Å—è—Ü–∞–º —Å 2010 –ø–æ 2013 –≥–æ–¥, –∫–æ–≥–¥–∞ –ø—Ä–æ—Ö–æ–¥–∏–ª–∏ –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–æ–Ω–Ω—ã–µ —Ä–∞—É–Ω–¥—ã. 

–°–≥—Ä—É–ø–ø–∏—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –ø–æ –Ω–æ–º–µ—Ä—É –º–µ—Å—è—Ü–∞ –∏ –ø–æ–ª—É—á–∏—Ç–µ —Ç–∞–±–ª–∏—Ü—É, –≤ –∫–æ—Ç–æ—Ä–æ–π –±—É–¥—É—Ç –ø–æ–ª—è:

- –Ω–æ–º–µ—Ä –º–µ—Å—è—Ü–∞, –≤ –∫–æ—Ç–æ—Ä–æ–º –ø—Ä–æ—Ö–æ–¥–∏–ª–∏ —Ä–∞—É–Ω–¥—ã;
- –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –Ω–∞–∑–≤–∞–Ω–∏–π —Ñ–æ–Ω–¥–æ–≤ –∏–∑ –°–®–ê, –∫–æ—Ç–æ—Ä—ã–µ –∏–Ω–≤–µ—Å—Ç–∏—Ä–æ–≤–∞–ª–∏ –≤ —ç—Ç–æ–º –º–µ—Å—è—Ü–µ;
- –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–æ–º–ø–∞–Ω–∏–π, –∫—É–ø–ª–µ–Ω–Ω—ã—Ö –∑–∞ —ç—Ç–æ—Ç –º–µ—Å—è—Ü;
- –æ–±—â–∞—è —Å—É–º–º–∞ —Å–¥–µ–ª–æ–∫ –ø–æ –ø–æ–∫—É–ø–∫–∞–º –≤ —ç—Ç–æ–º –º–µ—Å—è—Ü–µ.

```sql
WITH

invest AS (SELECT EXTRACT(MONTH FROM fr.funded_at) AS funded_month, 
                  COUNT(DISTINCT f.id) AS count_fund
           FROM   investment AS i 
           JOIN   funding_round AS fr ON fr.id = i.funding_round_id
           JOIN   fund AS f ON f.id = i.fund_id
           WHERE  f.country_code = 'USA'
           AND    fr.funded_at BETWEEN '2010-01-01' AND '2013-12-31'
           GROUP BY funded_month), 

acquired AS (SELECT EXTRACT(MONTH FROM acquired_at) AS acquired_month, 
                    COUNT(acquired_company_id) AS count_company, 
                    SUM(price_amount) AS sum_price_amount 
             FROM   acquisition
             WHERE  acquired_at BETWEEN '2010-01-01' AND '2013-12-31'
             GROUP BY acquired_month) 

SELECT invest.funded_month, 
       invest.count_fund, 
       acquired.count_company,
       acquired.sum_price_amount
FROM   invest
JOIN   acquired ON acquired.acquired_month = invest.funded_month;
```
---

#### 23. –°–æ—Å—Ç–∞–≤—å—Ç–µ —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É –∏ –≤—ã–≤–µ–¥–∏—Ç–µ —Å—Ä–µ–¥–Ω—é—é —Å—É–º–º—É –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–π –¥–ª—è —Å—Ç—Ä–∞–Ω, –≤ –∫–æ—Ç–æ—Ä—ã—Ö –µ—Å—Ç—å —Å—Ç–∞—Ä—Ç–∞–ø—ã, –∑–∞—Ä–µ–≥–∏—Å—Ç—Ä–∏—Ä–æ–≤–∞–Ω–Ω—ã–µ –≤ 2011, 2012 –∏ 2013 –≥–æ–¥–∞—Ö. 

–î–∞–Ω–Ω—ã–µ –∑–∞ –∫–∞–∂–¥—ã–π –≥–æ–¥ –¥–æ–ª–∂–Ω—ã –±—ã—Ç—å –≤ –æ—Ç–¥–µ–ª—å–Ω–æ–º –ø–æ–ª–µ. 
–û—Ç—Å–æ—Ä—Ç–∏—Ä—É–π—Ç–µ —Ç–∞–±–ª–∏—Ü—É –ø–æ —Å—Ä–µ–¥–Ω–µ–º—É –∑–Ω–∞—á–µ–Ω–∏—é –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–π –∑–∞ 2011 –≥–æ–¥ –æ—Ç –±–æ–ª—å—à–µ–≥–æ –∫ –º–µ–Ω—å—à–µ–º—É.

```sql
WITH
inv_2011 AS (SELECT co.country_code, 
                    AVG(co.funding_total) 
             FROM company AS co
             WHERE EXTRACT(YEAR FROM co.founded_at) = 2011
             GROUP BY co.country_code 
             HAVING COUNT(co.id) > 0), 

inv_2012 AS (SELECT co.country_code, 
                    AVG(co.funding_total) 
             FROM company AS co 
             WHERE EXTRACT(YEAR FROM co.founded_at) = 2012 
             GROUP BY co.country_code 
             HAVING COUNT(co.id) > 0),

inv_2013 AS (SELECT co.country_code, 
                    AVG(co.funding_total) 
             FROM company AS co 
             WHERE EXTRACT(YEAR FROM co.founded_at) = 2013 
             GROUP BY co.country_code 
             HAVING COUNT(co.id) > 0)

SELECT inv_2011.country_code,
       inv_2011.avg AS inv_2011,
       inv_2012.avg AS inv_2012,
       inv_2013.avg AS inv_2013
FROM inv_2011
INNER JOIN inv_2012 ON inv_2012.country_code = inv_2011.country_code
INNER JOIN inv_2013 ON inv_2013.country_code = inv_2011.country_code
ORDER BY inv_2011.avg DESC;
```

---

## –ó–∞–∫–ª—é—á–µ–Ω–∏–µ

–í —ç—Ç–æ–º –ø—Ä–æ–µ–∫—Ç–µ —è —Ä–∞–±–æ—Ç–∞–ª–∞ —Å —è–∑—ã–∫–æ–º SQL –∏ –¥–∞–Ω–Ω—ã–º–∏ –æ —Å—Ç–∞—Ä—Ç–∞–ø–∞—Ö, –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏—è—Ö –∏ —Ñ–æ–Ω–¥–∞—Ö.  
–ù–∞ –ø—Ä–∞–∫—Ç–∏–∫–µ –ø–æ–ª—É—á–∏–ª–æ—Å—å –∑–∞–∫—Ä–µ–ø–∏—Ç—å –æ—Å–Ω–æ–≤–Ω—ã–µ –ø—Ä–∏—ë–º—ã —Ä–∞–±–æ—Ç—ã —Å –±–∞–∑–∞–º–∏: –Ω–∞–ø–∏—Å–∞–Ω–∏–µ –∑–∞–ø—Ä–æ—Å–æ–≤, –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏–µ —Ç–∞–±–ª–∏—Ü, –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ –∞–≥—Ä–µ–≥–∞—Ç–Ω—ã—Ö –∏ –æ–∫–æ–Ω–Ω—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π.

–ü–æ —Ö–æ–¥—É –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è –∑–∞–¥–∞–Ω–∏–π —Å—Ç–∞–ª–æ –ø–æ–Ω—è—Ç–Ω–µ–µ, –∫–∞–∫ —É—Å—Ç—Ä–æ–µ–Ω –≤–µ–Ω—á—É—Ä–Ω—ã–π —Ä—ã–Ω–æ–∫, –∫–∞–∫ –∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç—å –∫–æ–º–ø–∞–Ω–∏–π –∏ —Ñ–æ–Ω–¥–æ–≤, –∏ –∫–∞–∫–∏–µ –≤—ã–≤–æ–¥—ã –º–æ–∂–Ω–æ –¥–µ–ª–∞—Ç—å –∏–∑ –¥–∞–Ω–Ω—ã—Ö.

---

## –ß—Ç–æ –ø–æ–ª—É—á–∏–ª–æ—Å—å

- –ø–∏—Å–∞—Ç—å SQL-–∑–∞–ø—Ä–æ—Å—ã —Ä–∞–∑–Ω–æ–π —Å–ª–æ–∂–Ω–æ—Å—Ç–∏;  
- –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –ø–æ–¥–∑–∞–ø—Ä–æ—Å—ã –∏ –æ–∫–æ–Ω–Ω—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏;  
- –æ–±—ä–µ–¥–∏–Ω—è—Ç—å —Ç–∞–±–ª–∏—Ü—ã —Å –ø–æ–º–æ—â—å—é `JOIN`;  
- –∏–∑–≤–ª–µ–∫–∞—Ç—å —Å—Ä–µ–∑—ã –¥–∞–Ω–Ω—ã—Ö –∏ –ø—Ä–æ–≤–æ–¥–∏—Ç—å –ø–µ—Ä–≤–∏—á–Ω—ã–π –∞–Ω–∞–ª–∏–∑.

---

–ü—Ä–æ–µ–∫—Ç –ø–æ–º–æ–≥ —Å–∏—Å—Ç–µ–º–∞—Ç–∏–∑–∏—Ä–æ–≤–∞—Ç—å –∑–Ω–∞–Ω–∏—è –∏ –Ω–∞–±—Ä–∞—Ç—å—Å—è —É–≤–µ—Ä–µ–Ω–Ω–æ—Å—Ç–∏ –≤ —Ä–∞–±–æ—Ç–µ —Å –±–∞–∑–∞–º–∏ –¥–∞–Ω–Ω—ã—Ö.